/* Note there a few "reset" styles given in reset.css. You may opt to remove those if you wish. */
.body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1em;
	padding-right: 1em;
}

.background {
	color: #ffffff;
}

.title {
	color: rgb(54, 81, 109);
	font-size: 1.5em;
	margin: 0.5em 0;
	justify-content: center;
	font-family: 'Red Rose', cursive;
}

.logo {
	width: 40%;
}

.split {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.list {
	list-style: none;
	display: inline;
}

.nav-icon {
	color: dodgerblue;
	font-family: 'Red Rose', cursive;
}

.subheading {
	color: palevioletred;
	font-family: 'Red Rose', cursive;
}

.ratings {
	color: rgb(187, 175, 47);
}

.sale {
	color:red;
}