/* Note there a few "reset" styles given in reset.css. You may opt to remove those if you wish. */
.body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10em;
	padding-right: 10em;

}

.background {
	color: #ffffff;
}


.title {
	color: rgb(54, 81, 109);
	font-size: 1.5em;
	margin: 0.5em 0;
	font-family: 'Red Rose', cursive;
}

.logo {
	width: 5em;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.list {
	list-style: none;
	display: inline;
}

.inline {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.nav-icon {
	color: dodgerblue;
	font-family: 'Red Rose', cursive;
	border: none;
}

.nav-icon:hover {
	color: peru;
}

.item-img {
	width: 1000em;
}

.item-name {
	font-family: 'Red Rose', cursive;
	color: black;
}

.subheading {
	color: palevioletred;
	font-family: 'Red Rose', cursive;
}

.ratings {
	color: rgb(187, 175, 47);
}

.sale {
	color:red;
}

.a {
	color: teal;
}

.a:hover {
	color: cornflowerblue;
}

.left {
	float: left;
}

.right {
	float: right;
}

