@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');



body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}

.background {
	color: #ffffff;
}

.navigation {
	justify-content: space-around;
}

.filters {
	width: 100%;
}

header {
	background-color:black;
	color: white;
	font-size: 1.5em;
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
}

/* links */
a {
	text-decoration: none;
	color: lightblue;
	font-family: 'Alata', sans-serif;
}

a:hover {
	color: peru;
}

li {
	list-style-type: none;
}

.title {
	color: rgb(54, 81, 109);
	font-size: 1.2em;
	align-items: center;
	margin: 0.5em 0;
	font-family: 'Red Rose', cursive;
	padding-top: 1em;
}

/* no bullet point on list */
.list {
	list-style-type: none;
	display: inline-block;
}

.inline {
	display: inline-block;
}

.page {
	display: flex;
	justify-content: center;
}

.nav-icon {
	color: dodgerblue;
	font-family: 'Red Rose', cursive;
	border: none;
}

.nav-icon:hover {
	color: peru;
}

.product {
	display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}


.item-img {
	width: 1000em;
}

.item-name {
	font-family: 'Red Rose', cursive;
	color: black;
}

.subheading {
	color: slateblue;
	font-family: 'Red Rose', cursive;
}

.ratings {
	color: rgb(187, 175, 47);
}

.sale {
	color:red;
}


/* positioning */
.left {
	float: left;
}

.right {
	float: right;
}

.center {
	justify-content: center;
	padding-right: 2em;
}


.top {
	justify-content: space-between;
}






/* MEDIA QUERIES */



/* media query 768px - tablet size*/
@media screen and (min-width: 768px) {
		body {
			font-size: 1.15em;
		}

		.items {
			display: flex;
			align-items: stretch;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 500px;
		}
	
		.split {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			gap: 1em;
	
			justify-content: space-between;
			
			width: 768px;
			height: 100%;
		}
	
		.item-img {
			height: 100%;
		}
	
		li {
			display: block;
			box-sizing: border-box;
			padding-right: 1em;
		}
	
}

	



/* media query 1024px - laptop size */
@media screen and (min-width: 1024px) {
	
	body {
		font-size: 1.05em;
	}

	.top {
		width: 100%;
	}

	.product {
		width: 30%;

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 2em;
	}
	
	.items {
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 260px;
	}

	/* splitting the page into a sidebar and content */
	.split {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 2em;

		justify-content: space-between;

		width: 50%;
	
	}

	.item-img {
		height: 100%;
	}

	li {
		display: block;
		box-sizing: border-box;
		padding-right: 1em;
	}

}